body {
    background-color: #F9F9F9;
}
header{
    width:100%;
    height:auto;
}
.logo {
    margin: 0 4px;
}
.hed-left {
    position: absolute;
    left: 100px;
    color: #29B078;
    font-weight: 900;
}
.hed-right {
    position: absolute;
    right: 100px;
}
a {
    color: #FFFFFF;
    padding-bottom: 20px;
}
div.row {
    width: 100% ;
    display: inline-block;
    vertical-align: middle;
}
.hr1 {
    padding: 0 10%;
    height: 40px;
    background-color: white;
}
.hr2 {
    padding: 0 10%;
    height:100px;
    background-color: #29B078;
}
.bak {
    width: 100%;
    background-repeat: no-repeat;
}
.left,.right,.item,.act,.bak {
    height: 100%;
}
.nav-ps {
    height: 88px;
    background-color: #29B078;
}
.fluid {
    padding-top: 20px;
    padding-left: 70%;
}
ul {
    position: absolute;
    right: 85px;
}
.jinengs {
    display: inline;
    font-size: 6.5rem;
    color: rgb(255, 255, 255);
    line-height: 0.525;
    -moz-transform: matrix( 0.66031244277974,0,0,0.65896739039857,0,0);
    -webkit-transform: matrix( 0.66031244277974,0,0,0.65896739039857,0,0);
    -ms-transform: matrix( 0.66031244277974,0,0,0.65896739039857,0,0);
    position: absolute;
    font-family: cursive;
    bottom: 30px;
    left: 60px;
}
.www_jnshu_com {
    display: inline;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    line-height: 2.182;
    -moz-transform: matrix( 0.66031244277974,0,0,0.65896739039857,0,0);
    -webkit-transform: matrix( 0.66031244277974,0,0,0.65896739039857,0,0);
    -ms-transform: matrix( 0.66031244277974,0,0,0.65896739039857,0,0);
    position: absolute;
    font-family: cursive;
    top: 35px;
    left: 60px;
}
.box {
    display: inline-block;
    float: left;
    width: 25%;
    height: 300px;
    margin: 50px 0;
    padding: 25px;
    text-align: center;
    vertical-align: middle;
}
.box-ps {
    border-left-style: dashed;
    border-color: #DEDEDE;
}
.h1 {
    padding: 20px 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.h2,.h3 {
    color: #999999;
    text-align: left;
    font-size: 1.3rem;
}
.h3{
    width: 85%;
    margin-right: 0;
}
.hcol {
    color: #29B078;
}
.pic {
    display: inline;
    vertical-align: middle;
    padding-right: 10px;
}
.box1 {
    height: 100px;
    padding: 10px 0 10px 0;
}
.num {
    display: inline-block;
    float: left;
    width: 55px;
    height: 55px;
    padding-top: 17px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #29B078;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 2px  #E6E5E6;
    font-size: 1.78rem;
    font-weight: bold;
}
.go {
    display: inline;
    position: relative;
    bottom: 40px;
    left: 42%;
}
.go1 {
    display: inline;
    position: relative;
    bottom: 27px;
    left: 30%;
}
.k {
    display: block;
    float: left;
    width: 100%;
    vertical-align: middle;
}
.k1 {
    padding-top: 5px;
}
.box3 {
    width: 22%;
    height: 330px;
    margin: 25px 3% 25px 0;
    padding: 0;
    box-shadow: 2px 2px 2px 2px #EEEDED;
}
.box3-col {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    vertical-align: middle;
}
.t1 {
    padding: 5% 0 0 0;
}
.t3 {
    width: auto;
    margin: 0 10%;
    line-height: 20px;
}
.cir {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 1px;
    border-radius: 50%;
    background-color: red;
}
.line {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 100%;
    height: 3px;
    background-color: #29B078;
}
li:hover .line {
    background-color: #FFFFFF;
}
.page {
    width: auto;
    height: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.box4 {
    width: 18%;
    height: 130px;
    padding: 0;
    margin: 0 2px 50px 0;
    background-color: #FFFFFF;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
h1:hover {
    box-shadow:0 0 8px 6px #EEEDED;
}
h2:hover {
    box-shadow:0 0 8px 6px #EEEDED;
}
h3:hover {
    box-shadow:0 0 8px 6px #EEEDED;
}
h4:hover {
    box-shadow:0 0 8px 6px #EEEDED;
}
h5:hover {
    box-shadow:0 0 8px 6px #EEEDED;
}
.pic1 {
    margin-left: 20px;
    background-image: url(ali.png);
}
.pic2 {
    background-image: url(jins.png);
}
.pic3 {
    background-image: url(huanx.png);
}
.pic4 {
    background-image: url(qiniu.png);
}
.pic5 {
    background-image: url(yunt.png);
}
footer {
    background-color: #FFFFFF;
}
div.col-xs-2 {
    font-size: 1.5rem;
    color: #999999;
    font-weight: bold;
}
.fot-div1 {
    height: 200px;
    background-color: #26A26F;
}
.fot-left,.fot-right {
    float: left;
    width: 25%;
    height: 200px;
}
.fot-right {
    float: right;
    text-align: right;
}
.fot-center {
    float: left;
    width: 48%;
    height: 200px;
    padding: 0 30px;
}
.col-xs-12 {
    margin: 40px 0;
    padding: 0;
    color: #FFFFFF;
    word-spacing: 10px;
}
.col-xs-6 {
    margin: 6.5px 0;
    padding: 0;
    color: #FFFFFF;
}
.col-xs-8 {
    width: 100%;
    margin: 40px 0 0 3px;
    padding: 0 7px 0 0;
    color: #FFFFFF;
}
div.item img{
    width:100%;
}
.img {
    height: 270px;

}
div#carousel-example-generic {
    width: 100%;
    height: 50%;
    margin: 0 auto;
}
div.carousel-inner {
    height: 50%;
}
@media all and (max-width: 750px) {
    .hr1,.hr2 {
        padding: 0 5%;
    }
    .hed-left {
        display: none;
    }
    .hed-right {
        right: 6px;
        text-align: right;
        width: 40%;
        padding: 0;
     }
    .jinengs {
        position: absolute;
        top: 12px;
        left: 8px;
        height:20px;
        font-size: 4rem;

    }
    .www_jnshu_com {
        position: absolute;
        top: 19px;
        left: 10px;
        font-size: 1.8rem;
    }
    .parent {
        height: auto;
        padding-left: 0;
    }
    ol {
         display: none;
     }
     .box {
         float: none;
         width: 100%;
         margin: 10px 0;
     }
     .h2 {
         text-align: center;
     }
     .col-xs-2 {
         display: inline-block;
         width: auto;
     }
     .fot-center,.fot-right,.fot-left {
         float: none;
         width: auto;
     }
     .fot-center{
         padding: 0;
     }
     .fot-div1 {
         height: auto;
     }
     .hr2 {
         display: none;
     }
     ul {
         position: static;
         text-align: center;
         font-size: 1.5rem;
     }
     .line {
         display: none;
     }
     .nav-ps {
         height: auto;
     }
     .fluid {
        padding: 0;
     }
     .pic1,.pic2,.pic3,.pic4,.pic5 {
         background-size: 280px;
     }
     .navbar-header {
         width: 100%;
     }
     #example-navbar-collapse {
         width: 100%;
         margin: 0;
     }
     .go,.go1 {
         display: none;
     }
     .box1 {
         height: auto;
     }
     .h3 {
         text-align: center;
     }
     .num {
         display: inline;
     }
}
@media (max-width: 1000px) and (min-width: 750px){
    .box3 {
        height: 380px;
    }
    h1 {
        font-size: 1rem;
    }
    .go {
        bottom: 50px;
    }

}



